* {
    margin: 0;
    font-family: 'Teko', sans-serif;
}
ul{
    padding-inline-start: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url('../images/background2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 1050px;
    background-color: #2E2E2E;
    
    
     
    

}
/* -- Container class for entire web page -- */
.container{
    width: 80%;
    margin: auto;
}

/* -- Top Navigation bar - Name and right menu -- */
.top-nav-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 350px;
    
}
h1 a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.nav{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    margin-top: 12px;
    
}
.nav li{
    margin: 10px;
    list-style-type: none;
}
.nav a{
    text-decoration: none;
    color: white;
}
.current a{
    color: #5353ff;
    text-decoration: underline;
}
.nav a:hover{
    text-decoration: underline;
    
}


/* -- Short Description after top nav bar -- */
article {
    margin-bottom: 700px;
    /*margin-bottom: 174px;*/
    font-size: 2em;
    text-align: center;
    color: white;
}

hr{
    margin:5px 0;
}


/* -- HTML project list -- */
.html-projects{
    background-color: #3a3a3a;
    margin-bottom: 100px;
}
.html-projects img{
    width: 50vw;  
    height: auto;
    border: 10px black;
}

.html-project-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.html-project-list li{
    list-style-type: none;
}
.project-container a{
    color:#5353ff;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}
.project-container p{
    font-size: 1.5em;
}
.languages{
    color:white;
}




/* .NET project list */
.net-project{
    
    margin-bottom: 100px;
}

.net-project a{
    font-size: 1.5em;
    color: #5353ff;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}
.net-project ul li{
    list-style-type: none;
}


/* Java project list */
.java-project{
    background-color: #3a3a3a;
    margin-bottom:25px;
}
.java-project a{
    font-size: 1.5em;
    color: #5353ff;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}
.java-project ul li{
    list-style-type: none;
}

footer{
    background-color: #242424;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.fab {
    
    font-size: 35px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
    
  }
.fab:hover{
    opacity: 0.7;
    cursor: pointer;
}
.fa-linkedin {
    
    color: white;
  }
.fa-github{
    
    color: white;
}


@media screen and (max-width: 768px) {
    .top-nav-bar{
        display: block;
        margin-bottom: 200px;
    }

    .title{
        text-align: center;
            
        
    }

    .html-projects img{
        width: 90vw;  
        height: auto;
        border: 10px black;
    }
    .nav{
        display: flex;
        justify-content: space-around;
        font-size: 1.5em;
        margin-top: 12px;
        flex-wrap: wrap;
        
    }
    .container{
        width: 95%;
        margin: auto;
    }
    body{
        background-image: url('../images/background2.jpg');
        background-repeat: no-repeat;
        background-size: 100% 500px;
        background-color: #2E2E2E;
    }
    article{
        font-size: 1.2em;
        margin-bottom: 100px;
    }
    
    .html-project-list{
        justify-content: space-between;
       align-content: center;
    }
    .html-project-list li{
        margin: 0, 20px, 0, 20px;
    }
    .fa-foot{
        font-size: 46px;
    }
    footer{
        background-color: #3d3d3d;
        align-items: center;
        display: flex;
        justify-content: space-around;
        padding: 5px, 0, 5px, 0;
    }

    @media screen and (max-width: 320px){
        .top-nav-bar{
            display: block;
            margin-bottom: 100px;
        }
    }

}
